<div class="lang-buttons">
    <input type="image" src="http://img.freeflagicons.com/thumb/round_icon/ukraine/ukraine_640.png" alt="Submit"
           class="lang-btn" ng-click="changeLanguage('ru')">
    <input type="image" src="http://img.freeflagicons.com/thumb/sphere_icon/israel/israel_640.png" alt="Submit"
           style=" width: 70px; height: 60px;" ng-click="changeLanguage('il')">
    <input type="image" src="http://img.freeflagicons.com/thumb/round_icon/england/england_640.png" alt="Submit"
           class="lang-btn" ng-click="changeLanguage('en')">
</div>


<div style="font-size: large; margin-top: 5%; margin-left: 10%">
    <p>
        <span ng-bind="'manage_users' | translate"></span>
    </p>
</div>
<table class="table table-striped" align="center" style="width: 80%;">
    <thead>
    <tr>
        <th> <span ng-bind="'name' | translate"></span> </th>
        <th> <span ng-bind="'permissions' | translate"></span> </th>
        <th> <span ng-bind="'actions' | translate"></span> </th>
    </tr>
    </thead>
    <tbody ng-repeat="item in collection">

    <tr>
        <td ng-bind="item.username"></td>
        <td ng-bind="item.permissions"></td>
        <td>
            <button data-toggle="modal" data-target="#createUser" type="button" class="btn btn-info" ng-click="tempUser.username = item.username; tempUser.permissions = item.permissions; tempUser.edit = true;">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="removeUser(item.username)">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
        </td>
    </tr>

    </tbody>
</table>

<button data-toggle="modal" data-target="#createUser" style="float: right; margin-right: 5%; width: 50px; height: 50px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 25px;"
        type="button" class="btn btn-success btn-circle btn-xl" ng-click="tempUser.username = ''; tempUser.permissions = ''; tempUser.edit = false" ><i class="glyphicon glyphicon-plus"></i></button>

<!-- Modal -->
<div id="createUser" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p><span ng-bind="'create' | translate"></span> </p>
                <label for="username">
                    <span ng-bind="'name' | translate"></span>
                </label>
                <div>
                    <input ng-if="!tempUser.edit" ng-model="tempUser.username" type="text" class="form-control" id="username" placeholder="{{'enter_name' | translate}}" name="username" required>
                    <input ng-if="tempUser.edit" ng-model="tempUser.username" type="text" class="form-control"  placeholder="{{'enter_name' | translate}}" name="username" required readonly>
                </div>
                <br>
                <label for="permissions">
                    <span ng-bind="'permissions' | translate"></span>
                </label>
                <div>
                    <input ng-model="tempUser.permissions" type="text" class="form-control" id="permissions" placeholder="{{'enter_perm' | translate}}" name="permissions" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span ng-bind="'close' | translate"></span></button>
                <button ng-if="!tempUser.edit" type="button" class="btn btn-default" data-dismiss="modal" ng-click="addUser()"><span ng-bind="'add' | translate"></span></button>
                <button ng-if="tempUser.edit" type="button" class="btn btn-default" data-dismiss="modal" ng-click="editUser()"><span ng-bind="'edit' | translate"></span></button>
            </div>
        </div>

    </div>
</div>